Repository Vookshelf-org/management: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, tsc, prettier

eslint:
  run: eslint --fix {staged_files}

tsc:
  run: tsc --noEmit

prettier:
  run: prettier --loglevel silent --write {staged_files}

👷(Renovate) 設定ファイル追加
  renovate.json
Due: prettier

🔥 next-env.d.ts削除
  .gitignore
  next-env.d.ts
Due: prettier

🔧(lefthook) package auditをしない
  lefthook.yml
Due: prettier

🔧(lefthook) push前にcommit前のスクリプトも走らせる
  lefthook.yml
Due: prettier

♻️ クエリファイルのリネーム
  src/components/Header/Header.tsx
  src/pages/author/[id].tsx
  src/pages/book/[id].tsx
  src/pages/series/[id].tsx
  src/queries/getAuthor.ts
  src/queries/getBook.ts
  src/queries/getSeries.ts
  src/queries/querySearchBox.ts
Due: eslint, tsc, prettier

♻️ codegenディレクトリへ移行したことに伴う変更
  src/components/AuthorPage/Series/Series.tsx
  src/components/AuthorPage/Series/SeriesList.tsx
  src/components/BookProfile/Authors.tsx
  src/components/BookProfile/Series.tsx
  src/components/BookProfile/index.tsx
  src/components/BooksList/Covers/Book.tsx
  src/components/Header/Header.tsx
  src/components/SeriesProfile/index.tsx
  src/pages/_app.tsx
  src/pages/author/[id].tsx
  src/pages/book/[id].tsx
  src/pages/index.tsx
  src/pages/series/[id].tsx
Due: eslint, tsc, prettier

🙈 codegenディレクトリを無視
  .eslintignore
  .gitignore
  .prettierignore
Due: none

🔧 GraphQL Codegenが生成するファイル位置を変更
  codegen.yml
Due: prettier

🔧(ESLint) クエリ定義ファイルでdefault exportを推奨
  src/queries/.eslintrc
Due: none

🔧(Lefthook) CircleCIの設定ファイルのチェックを入れる
  lefthook.yml
Due: prettier

👷(CircleCI) 構成ファイルを作成
  .circleci/config.yml
Due: prettier

🙈 CircleCIのv2.0のための設定ファイル置き場を無視
  .gitignore
Due: none

🚢 yarnからnpm単体へ移行
  package-lock.json
  yarn.lock
Due: prettier

👷(CircleCI) インストールコマンドを変更
  .circleci/config.yml
Due: prettier

🔧 postinstallスクリプト削除
  package.json
Due: prettier

🔧(package) scripts整備
  package.json
Due: prettier

🔧 GraphQL Code Generatorのスキーマを環境変数で設定
  codegen.yml
Due: prettier

👷(CircleCI) 構成ファイル更新
  .circleci/config.yml
Due: prettier

👷(CircleCI) ESLintのテスト結果を保存
  .circleci/config.yml
Due: prettier

➕ Stylelint関連の依存関係を追加
  package-lock.json
  package.json
Due: prettier

🔧(package) Stylelint関連のスクリプト追加
  package.json
Due: prettier

🔧(Stylelint) 設定ファイル追加
  .stylelintignore
  .stylelintrc
Due: none

🙈 package-lock.jsonをPrettierから対象外へ
  .prettierignore
Due: none

🔧(Lefthook) Stylelintを通すように設定
  lefthook.yml
Due: prettier

👷(CircleCI) Lint関連更新
  .circleci/config.yml
Due: prettier

🔧(VSCode) 設定ファイル更新
  .vscode/settings.json
Due: prettier

🔧(VSCode) 推奨される拡張機能を列挙
  .vscode/extensions.json
Due: prettier

👷(CircleCI) Lint関連は失敗に関わらず全て実行する
  .circleci/config.yml
Due: prettier

🚥 Stylelintで警告が出る部分修正
  src/components/AuthorPage/Series/SeriesList.tsx
Due: eslint, tsc, prettier

👷(CircleCI) Nodeを12系最新のバージョンを利用するように設定
  .circleci/config.yml
Due: prettier

👷(CircleCI) テスト結果のディレクトリを作成
  .circleci/config.yml
Due: prettier

🔧 next-env.d.tsはGit管理対象へ
  .gitignore
  next-env.d.ts
Due: prettier

📌(@types/node) v12系へ変更
  package-lock.json
  package.json
Due: prettier

📌(Node.js) v12.16.1へ固定
  .node-version
Due: none

🚢 Yarnへの移行
  .circleci/config.yml
  package-lock.json
  yarn.lock
Due: prettier

👷(Renovate) devブランチを基点にする
  renovate.json
Due: prettier

🚥 不要なインポートを削除
  src/components/AuthorPage/Series/SeriesList.tsx
  src/components/BookProfile/Authors.tsx
  src/components/BookProfile/index.tsx
  src/components/CoverArtPlaceholder.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/pages/_app.tsx
  src/pages/book/[id].tsx
Due: eslint, tsc, prettier

♻️ i18n部分をComponent層から剥離
  src/components/AuthorPage/Series/Series.tsx
  src/components/AuthorPage/Series/SeriesList.tsx
  src/components/BookProfile/Author.tsx
  src/components/BookProfile/Authors.tsx
  src/components/BookProfile/Series.tsx
  src/components/BookProfile/SeriesList.tsx
  src/components/BookProfile/index.tsx
  src/components/BooksList/Covers/Book.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/SocialLink.tsx
  src/components/Header/Header.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/SeriesProfile/index.tsx
Due: eslint, tsc, prettier

♻️ ヘッダーの検索ボックスのコードを多少読みやすく
  src/components/Header/Header.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/SearchBox/SearchBoxColumn.tsx
Due: eslint, tsc, prettier

♻️ default exportの名前更新
  src/components/AuthorPage/Series/Series.tsx
  src/components/AuthorPage/Series/SeriesList.tsx
  src/components/BookProfile/Author.tsx
  src/components/BookProfile/AuthorsList.tsx
  src/components/BookProfile/Series.tsx
  src/components/BookProfile/SeriesList.tsx
  src/components/BookProfile/index.tsx
  src/components/BooksList/Covers/Book.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/SocialLink.tsx
  src/components/SeriesProfile/index.tsx
Due: eslint, tsc, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx} and ^src/
  tsc: any of: *.{ts,tsx} and ^src/
  prettier: any of: *.{js,ts,jsx,tsx,json,yml,yaml,md,html,css,scss,sass}
